.react-calender {
  width: 100% !important;
  cursor: pointer; /* Ensures the cursor is a pointer when hovering over the input */
}

/* Existing rule for setting weekends to red */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* New rule to center the weekday names */
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  text-align: center; /* Center the text */
}
.react-calendar__tile {
  height: 100px; /* Adjust the height to your needs */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: gray;
  color: black;
}

/* Highlight the current day */
.react-calendar__tile--now {
  background: #6fcdff3b; /* Light blue background for the current day */
  border: 2px solid #5882b983; /* Optional: Add a border for better visibility */
}

/* Highlight the selected date */
.react-calendar__tile--active {
  background: #0072dc; /* Blue background for the selected date */
  color: white; /* White text color for better contrast */
}

/* Center the top part (month and arrows) */
.react-calendar__navigation__label {
  color: #000000; /* Change to any desired color */
  font-weight: bold; /* Optional: to make it stand out */
  width: 20px;
}


.react-calendar__navigation button {
  min-width: 10px;
  background: none;
}

/* Customizing the arrow buttons */
.react-calendar__navigation__arrow {
  color: #000000; /* Change the color of the arrow */
  margin: 0 10px; /* Optional: Adjust spacing between arrow and month */
}


.react-calendar__navigation__arrow:hover {
  background-color: #ffe082; /* Optional: Change background on hover */
  color: #000; /* Optional: Change text color on hover */
}

.calendar-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}