.qmodal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: topslide 1000ms;
  background-color: #fd7e14;
}

@keyframes topslide {
  from {
    transform: translate(-50%, -150%); 
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.qmodal input[type="text"],
.qmodal textarea,
.qmodal select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.qmodal input {
  background-color: white;
  color: black;
}

.qmodal textarea {
  resize: vertical;
  height: 80px;
  background-color: white;
  color: black;
}

.qmodal select {
  margin-bottom: 40px;
  background-color: white;
  color: black;
  ;
}

.qmodal button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.qmodal button:hover {
  background-color: #0056b3;
}

.qmodal button:last-child {
  background-color: #6c757d;
}

.qmodal button:last-child:hover {
  background-color: #5a6268;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.quest-item.easy {
  background-color: #d4edda; 
}

.quest-item.easy.completed {
  background-color: #28a745; 
}


.quest-item.medium {
  background-color: #ffeeba; 
}

.quest-item.medium.completed {
  background-color: #fd7e14;
}


.quest-item.hard {
  background-color: #f8d7da; 
}

.quest-item.hard.completed {
  background-color: #dc3545; 
}


.quest-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

.quest-item .quest-name {
  flex-basis: 30%; 
  flex-grow: 0; 
  flex-shrink: 0; 
  max-width: 15ch; 
  overflow-wrap: break-word; 
  word-wrap: break-word; 
}

.quest-item .quest-name span {
  display: block; 
  max-width: 100%; 
  overflow-wrap: break-word; 
  word-wrap: break-word; 
}

.quest-item .quest-difficulty {
  flex-basis: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-item .action-buttons {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.quest-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-basis: 10%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.quest-item button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quest-item button:hover {
  background-color: #c82333;
}

.qheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.qheader button {
  margin-left: 10px; 
  font-size: 14px; 
}