.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Smaller width */
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: topslide 1000ms;
  background-color:lightgreen
}

.modal select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

@keyframes topslide {
  from {
    transform: translate(-50%, -150%); /* Start the modal above the viewport */
  }
  to {
    transform: translate(-50%, -50%); /* Slide to its centered position */
  }
}

.reward-box {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.reward-box .text-section {
  flex-basis: 40%; /* Take up 40% of the width */
  margin-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left; /* Align text to the left */
  max-width: 30ch;
}

.reward-box .difficulty-section {
  flex-basis: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward-box .action-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center checkbox and buttons */
  justify-content: center; /* Center vertically */
  gap: 10px; /* Space between elements */
}

.reward-box input[type="checkbox"] {
  transform: scale(1.5); /* Make the checkbox bigger */
}

.reward-box button {
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
}

ul {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center; /* Vertically align heading and button */
  justify-content: space-between; /* Ensure spacing between the two items */
  margin-bottom: 30px;
}

.header h3 {
  margin: 0; /* Remove default margin from h3 */
}

.header button {
  margin-left: 10px; /* Optional: add some space between the heading and the button */
  font-size: 14px; /* Adjust the font size to match your design */
}


.modal textarea,
.modal button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}
