/* Container for the cards */
.rewards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Two cards per row, responsive */
  padding: 0px; /* Add padding around the container */
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0.5rem;
  height: auto;
  width: auto; /* Ensure cards take full available width within their grid column */
  position: relative;
}

/* Card image */
.card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Card title */
.card-title {
  margin: 0;
  height: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

/* Button container */
.button-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.button-container a {
  width: 90%;
  padding: 5px;
  text-align: center;
}